<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/font/nissanbrand/stylesheet.css">
	<link rel="stylesheet" href="/assets/font/inter/inter.css">
	<title>Nissan</title>
</head>
<body>
	<header class="header-main">
		<div class="nav-submenu__wrap">
			<div class="nav-submenu-inform">
				<p class="nav-submenu-text nav-submenu-inform-phone">Продаж та сервіс <a href="#" class="nav-inform-link">(0522) 210-333</a></p>
				<p class="nav-submenu-text nav-submenu-inform-adress">м. Кропивницький, пр. Винниченка, 2</p>
			</div>
			<div class="nav-submenu">
				<ul class="nav-submenu__list">
					<li class="nav-submenu__item"><a href="#">КОНТАКТИ</a></li>
					<li class="nav-submenu__item"><a href="#">ЗАПИС НА СЕРВІС</a></li>
					<li class="nav-submenu__item"><a href="#">ТЕСТ-ДРАЙВ</a></li>
					<li class="nav-submenu__item"><a href="#">NISSAN FINANCIAL SERVICES</a></li>
				</ul>
			</div>
		</div>
		<div class="main-menu">
			<div class="menu-inform">
				<div class="menu-inform-logo"><a href="/"><img src="/assets/img/logo-black.png" alt="logo"></a></div>
				<h1 class="menu-inform-title">АТМ КРОПИВНИЦЬКИЙ ОФІЦІЙНИЙ ДИЛЕР</h1>
			</div>
			<div class="menu-pages">
				<ul class="menu-list">
					<li class="menu-item"><a href="#">моделі</a></li>
					<li class="menu-item"><a href="#">послуги</a></li>
					<li class="menu-item"><a href="#">сервіс</a></li>
					<li class="menu-item"><a href="#">новини та акції</a></li>
					<li class="menu-item"><a href="#">про компанію</a></li>
				</ul>
			</div>
		</div>
		<div class="design-menu">
			<ul class="menu-list">
				<li class="menu-item"><a href="#">Комплектації та ціни</a></li>
				<li class="menu-item active"><a href="#">Дизайн</a></li>
				<li class="menu-item"><a href="#">Технічні характеристики</a></li>
				<li class="menu-item"><a href="#">Мультимедія</a></li>
				<li class="menu-item"><a href="#">Технології</a></li>
				<li class="menu-item"><a href="#">Цінові пропозиції</a></li>
				<li class="menu-item"><a href="#">Аксесуари</a></li>
			</ul>
		</div>
	</header>

	<section class="main-design-section">
		<div class="main-wrap">
			<h2 class="main-title">
				Виразний дизайн інтер'єру
			</h2>
			<p class="main-description">
				Спортивна вишуканість салону Nissan Juke відтепер ще виразніша завдяки впізнаваному оздобленню N-Sport, виконаному в чорному й жовтому кольорах.
			</p>
		</div>
		<div class="main-img">
			<img src="/assets/img/image.png" alt="image">
		</div>
	</section>

	<section class="slider-section">
		<div class="slider-wrap">
			<div class="slider-list">
				<div class="slide">
					<img class="slide-img" src="/assets/img/slider.png" alt="slider">
				</div>
				<div class="slide">
					<img class="slide-img" src="/assets/img/slider.jpg" alt="slider">
				</div>
				<div class="slide">
					<img class="slide-img" src="/assets/img/slider.png" alt="slider">
				</div>
				<div class="slide">
					<img class="slide-img" src="/assets/img/slider.jpg" alt="slider">
				</div>
			</div>
			<div class="slider-prev">
				<div class="slide">
					<img class="slide-img slide-prev" src="/assets/img/slider.jpg" alt="slider">
				</div>
				<div class="slide">
					<img class="slide-img slide-prev" src="/assets/img/slider.png" alt="slider">
				</div>
				<div class="slide">
					<img class="slide-img slide-prev" src="/assets/img/slider.jpg" alt="slider">
				</div>
				<div class="slide">
					<img class="slide-img slide-prev" src="/assets/img/slider.png" alt="slider">
				</div>
			</div>
		</div>
		<div class="slider-row">
			<div class="slider-col">
				<div class="slide-info">
					<div class="slider-current">
						<span class="current-slide">1</span> / <span class="total-slides">5</span>
						<p class="line"> — </p>
						<p class="slider-name">Унікальні сидіння N-Sport</p>
					</div>
					<p class="slide-text">
						Унікальна структура та неймовірна зручність
					</p>
				</div>
				<div class="slider-dots"></div>
			</div>
			<div class="slider-col">
				<div class="slider-arrow">
					<button class="slick-prev"> <svg width="51" height="16" viewBox="0 0 51 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.47182 0.393902L-0.0234375 7.88916L1.39076 9.30336L8.88602 1.8081L7.47182 0.393902Z" fill="#ACACAC"/> <path d="M1.44545 6.42955L0.03125 7.84375L7.52651 15.339L8.94071 13.9248L1.44545 6.42955Z" fill="#ACACAC"/> <path d="M52 6.7998H2.5V8.7998H52V6.7998Z" fill="#ACACAC"/> </svg> </button>
					<button class="slick-next"> <svg width="51" height="16" viewBox="0 0 51 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M42.8142 1.00879L50.3142 8.60879" stroke="#030B0E" stroke-width="2"/> <path d="M50.3142 7.20898L42.8142 14.709" stroke="#030B0E" stroke-width="2"/> <path d="M0 7.80029H47.5" stroke="#030B0E" stroke-width="2" stroke-linecap="square"/> </svg> </button>
				</div>
			</div>
		</div>
	</section>

	<section class="inform-section">
		<div class="bose-block-inform">
			<p class="description-inform">
				Bose® Personal® Plus
			</p>
			<h2 class="head-inform">
				Потужність чистого звучання
			</h2>
			<img src="/assets/img/head-img.png" alt="head-img" class="head-inform-img">
			<div class="row-inform">
				<div class="col-inform col-first">
					<h3 class="sub-title-inform">
						Бездоганна якість звучання
					</h3>
				</div>
				<div class="col-inform col-second">
					<p class="description-inform">
						Система Bose® Personal® Plus має 10 високоякісних динаміків, розташованих по всьому салону Juke для максимальної якості звуку.
					</p>
				</div>
			</div>
			<div class="row-inform">
				<div class="col-inform col-first">
					<img src="/assets/img/col.png" alt="col">
				</div>
				<div class="col-inform col-second col-center">
					<h3 class="sub-title">
						Відтепер водій і передній пасажир мають змогу насолоджуватися звуком на повну
					</h3>
					<p class="description-inform">
						У Juke із системою Bose® Personal® Plus можна укомплектувати підголівники крісел водія та переднього пасажира динаміками UltraNearfield. Ви відчуєте, що звук буквально оточує вас з усіх боків, забезпечуючи відчуття повного занурення в улюблену музику. 
					</p>
				</div>
			</div>
		</div>
		
	</section>

	<footer class="footer">
		<div class="footer-wrap">
			<div class="footer-col footer-model">
				<h3 class="footer-col__title">Моделі</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Juke</a></li>
					<li class="footer-item"><a href="#">Оновлений Juke</a></li>
					<li class="footer-item"><a href="#">Qashqai</a></li>
					<li class="footer-item"><a href="#">Новий Qashqai</a></li>
					<li class="footer-item"><a href="#">X-Trail</a></li>
					<li class="footer-item"><a href="#">LEAF</a></li>
					<li class="footer-item"><a href="#">Цінові пропозиції</a></li>
					<li class="footer-item"><a href="#">Записатись на тест-драйв</a></li>
				</ul>
			</div>
			<div class="footer-col footer-services">
				<h3 class="footer-col__title">ПОСЛУГИ</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Nissan Financial Services</a></li>
					<li class="footer-item"><a href="#">Лізинг</a></li>
					<li class="footer-item"><a href="#">Страхування</a></li>
					<li class="footer-item"><a href="#">Корпоративні продажі</a></li>
				</ul>
			</div>
			<div class="footer-col footer-support">
				<h3 class="footer-col__title">Сервіс</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Калькулятор ТО</a></li>
					<li class="footer-item"><a href="#">Записатись на сервіс</a></li>
					<li class="footer-item"><a href="#">Програма лояльності</a></li>
					<li class="footer-item"><a href="#">Запасні частини</a></li>
					<li class="footer-item"><a href="#">Аксесуари</a></li>
					<li class="footer-item"><a href="#">Nissan Assistance</a></li>
					<li class="footer-item"><a href="#">Технічне обслуговування і ремонт</a></li>
					<li class="footer-item"><a href="#">Гарантія</a></li>
				</ul>
			</div>
			<div class="footer-col footer-company">
				<h3 class="footer-col__title">Про компанію</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Про нас</a></li>
					<li class="footer-item"><a href="#">Контакти</a></li>
					<li class="footer-item"><a href="#">Зв’язатися з нами</a></li>
					<li class="footer-item"><a href="#">Ваш менеджер</a></li>
				</ul>
			</div>
			<div class="footer-col footer-contact">
				<h3 class="footer-col__title">КОНТАКТИ</h3>
				<ul class="footer-list">
					<li class="footer-item">
						(0522) 210-333 (097) 710-33-33 м. Кропивницький, проспект Винниченка, 2 autosalon@nissan.kr.ua
					</li>
					<li class="footer-item">
						Компанія «АТМ КРОПИВНИЦЬКИЙ» є офіційним дилером імпортера ТОВ «НІССАН МОТОР УКРАЇНА» в місті Кропивницький та регіоні.
					</li>
				</ul>
				<div class="footer-social">
					<ul class="footer-social__list">
						<li class="footer-social__item"><a href="#"><img src="/assets/img/facebook.png" alt="facebook" class="footer-social"></a></li>
						<li class="footer-social__item"><a href="#"><img src="/assets/img/youtube.png" alt="youtube" class="footer-social"></a></li>
						<li class="footer-social__item"><a href="#"><img src="/assets/img/in.png" alt="in" class="footer-social"></a></li>
						<li class="footer-social__item"><a href="#"><img src="/assets/img/insta.png" alt="insta" class="footer-social"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/script.js"></script>

</body>
</html>