<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/font/nissanbrand/stylesheet.css">
	<link rel="stylesheet" href="/assets/font/inter/inter.css">
	<title>Nissan</title>
</head>
<body>
	<header class="header-main">
		<div class="nav-submenu__wrap">
			<div class="nav-submenu-inform">
				<p class="nav-submenu-text nav-submenu-inform-phone">Продаж та сервіс <a href="#" class="nav-inform-link">(0522) 210-333</a></p>
				<p class="nav-submenu-text nav-submenu-inform-adress">м. Кропивницький, пр. Винниченка, 2</p>
			</div>
			<div class="nav-submenu">
				<ul class="nav-submenu__list">
					<li class="nav-submenu__item"><a href="#">КОНТАКТИ</a></li>
					<li class="nav-submenu__item"><a href="#">ЗАПИС НА СЕРВІС</a></li>
					<li class="nav-submenu__item"><a href="#">ТЕСТ-ДРАЙВ</a></li>
					<li class="nav-submenu__item"><a href="#">NISSAN FINANCIAL SERVICES</a></li>
				</ul>
			</div>
		</div>
		<div class="main-menu">
			<div class="menu-inform">
				<div class="menu-inform-logo"><a href="/"><img src="/assets/img/logo-black.png" alt="logo"></a></div>
				<h1 class="menu-inform-title">АТМ КРОПИВНИЦЬКИЙ ОФІЦІЙНИЙ ДИЛЕР</h1>
			</div>
			<div class="menu-pages">
				<ul class="menu-list">
					<li class="menu-item"><a href="#">моделі</a></li>
					<li class="menu-item"><a href="#">послуги</a></li>
					<li class="menu-item"><a href="#">сервіс</a></li>
					<li class="menu-item"><a href="#">новини та акції</a></li>
					<li class="menu-item"><a href="#">про компанію</a></li>
				</ul>
			</div>
		</div>
		<div class="design-menu">
			<ul class="menu-list">
				<li class="menu-item"><a href="#">Комплектації та ціни</a></li>
				<li class="menu-item active"><a href="#">Дизайн</a></li>
				<li class="menu-item"><a href="#">Технічні характеристики</a></li>
				<li class="menu-item"><a href="#">Мультимедія</a></li>
				<li class="menu-item"><a href="#">Технології</a></li>
				<li class="menu-item"><a href="#">Цінові пропозиції</a></li>
				<li class="menu-item"><a href="#">Аксесуари</a></li>
			</ul>
		</div>
	</header>

	<section class="main-design-section">
		<div class="main-wrap">
			<h2 class="main-title">
				Виразний дизайн інтер'єру
			</h2>
			<p class="main-description">
				Спортивна вишуканість салону Nissan Juke відтепер ще виразніша завдяки впізнаваному оздобленню N-Sport, виконаному в чорному й жовтому кольорах.
			</p>
		</div>
		<div class="main-img">
			<img src="/assets/img/image.png" alt="image">
		</div>
	</section>

	<section class="slider-section">
		<div class="slider-wrap">
		<div class="slider-main">
			<div class="slider-img">
				<div class="slide active">
				<img src="/assets/img/slider.png" alt="Слайд 1">
				</div>
				<div class="slide">
				<img src="/assets/img/slider.jpg" alt="Слайд 2">
				</div>
				<div class="slide">
				<img src="/assets/img/slider.png" alt="Слайд 3">
				</div>
				<div class="slide">
				<img src="/assets/img/slider.jpg" alt="Слайд 4">
				</div>
				<div class="slide">
				<img src="/assets/img/slider.png" alt="Слайд 5">
				</div>
			</div>
			<div class="slide-info">
				<p class="slide-counter">1/5 — Унікальні Сидіння N-Sport</p>
				<p class="slide-description">Унікальна структура та неймовірна зручність</p>
				<div class="pagination">
				<span class="dot active"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				</div>
			</div>
		</div>
		<div class="slider-preview">
			<img src="/assets/img/slider2.jpg" alt="Preview Slide" class="preview-slide">
		</div>
		</div>
		<div class="slider-controls">
		<button class="prev">←</button>
		<button class="next">→</button>
		</div>
	</section>	 

	<footer class="footer">
		<div class="footer-wrap">
			<div class="footer-col footer-model">
				<h3 class="footer-col__title">Моделі</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Juke</a></li>
					<li class="footer-item"><a href="#">Оновлений Juke</a></li>
					<li class="footer-item"><a href="#">Qashqai</a></li>
					<li class="footer-item"><a href="#">Новий Qashqai</a></li>
					<li class="footer-item"><a href="#">X-Trail</a></li>
					<li class="footer-item"><a href="#">LEAF</a></li>
					<li class="footer-item"><a href="#">Цінові пропозиції</a></li>
					<li class="footer-item"><a href="#">Записатись на тест-драйв</a></li>
				</ul>
			</div>
			<div class="footer-col footer-services">
				<h3 class="footer-col__title">ПОСЛУГИ</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Nissan Financial Services</a></li>
					<li class="footer-item"><a href="#">Лізинг</a></li>
					<li class="footer-item"><a href="#">Страхування</a></li>
					<li class="footer-item"><a href="#">Корпоративні продажі</a></li>
				</ul>
			</div>
			<div class="footer-col footer-support">
				<h3 class="footer-col__title">Сервіс</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Калькулятор ТО</a></li>
					<li class="footer-item"><a href="#">Записатись на сервіс</a></li>
					<li class="footer-item"><a href="#">Програма лояльності</a></li>
					<li class="footer-item"><a href="#">Запасні частини</a></li>
					<li class="footer-item"><a href="#">Аксесуари</a></li>
					<li class="footer-item"><a href="#">Nissan Assistance</a></li>
					<li class="footer-item"><a href="#">Технічне обслуговування і ремонт</a></li>
					<li class="footer-item"><a href="#">Гарантія</a></li>
				</ul>
			</div>
			<div class="footer-col footer-company">
				<h3 class="footer-col__title">Про компанію</h3>
				<ul class="footer-list">
					<li class="footer-item"><a href="#">Про нас</a></li>
					<li class="footer-item"><a href="#">Контакти</a></li>
					<li class="footer-item"><a href="#">Зв’язатися з нами</a></li>
					<li class="footer-item"><a href="#">Ваш менеджер</a></li>
				</ul>
			</div>
			<div class="footer-col footer-contact">
				<h3 class="footer-col__title">КОНТАКТИ</h3>
				<ul class="footer-list">
					<li class="footer-item">
						(0522) 210-333 (097) 710-33-33 м. Кропивницький, проспект Винниченка, 2 autosalon@nissan.kr.ua
					</li>
					<li class="footer-item">
						Компанія «АТМ КРОПИВНИЦЬКИЙ» є офіційним дилером імпортера ТОВ «НІССАН МОТОР УКРАЇНА» в місті Кропивницький та регіоні.
					</li>
				</ul>
				<div class="footer-social">
					<ul class="footer-social__list">
						<li class="footer-social__item"><a href="#"><img src="/assets/img/facebook.png" alt="facebook" class="footer-social"></a></li>
						<li class="footer-social__item"><a href="#"><img src="/assets/img/youtube.png" alt="youtube" class="footer-social"></a></li>
						<li class="footer-social__item"><a href="#"><img src="/assets/img/in.png" alt="in" class="footer-social"></a></li>
						<li class="footer-social__item"><a href="#"><img src="/assets/img/insta.png" alt="insta" class="footer-social"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/script.js"></script>

</body>
</html>