@import '_nullstyle.scss';

.footer-col__icon, .car-info-mobile__image {
	display: none;
}

.model-more-btn {
	.more-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		padding: 15px;
		width: 100%;
		background: none;
		border-radius: 40px;
		font-family: 'Nissan Brand';
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #000;
		text-transform: uppercase;
		border: 1px solid #000;
		transition-duration: 0.3s;
		span {
			svg {
				width: 100%;
				height: 100%;
				path {
					transition-duration: 0.3s;
				}
			}
		}
	}
}
.model-more-btn:hover {
	.more-btn {
		border: 1px solid #666666;
		color: #666666;
		transition-duration: 0.3s;
		span {
			svg {
				width: 100%;
				height: 100%;
				path::before {
					transition-duration: 0.3s;
					color: #666666;
				}
			}
		}
	}
}


.model-more-btn-price {
	.more-btn {
		display: block;
		padding: 15px;
		width: 100%;
		background: #000;
		border-radius: 40px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 2px;
		text-align: center;
		color: #fff;
		border: 1px solid #000;
		text-transform: uppercase;
		transition-duration: 0.3s;
	}
}
.model-more-btn-price:hover {
	.more-btn {
		background: none;
		color: #000;
		transition-duration: 0.3s;
	}
}

.active {
	display: flex !important;
	flex-direction: column !important;
}
/**********************HOME PAGE***********************/
.home {
	.header-main {
		.main-menu {
			.menu-inform {
				.menu-inform-title {
					color: #fff;
					font-size: 34px;
					line-height: 54px;
				}
			}
			.menu-pages {
				.menu-list {
					.menu-item a {
						color: #fff;
					}
				}
			}
		}
	}
}

.header-main {
	width: 100%;
	margin-bottom: 100px;
	.nav-submenu__wrap {
		display: flex;
		justify-content: space-between;
		padding: 15px 80px;
		background: #000;
		.nav-submenu-inform {
			display: flex;
			.nav-submenu-text {
				font-family: 'Nissan Brand';
				font-size: 12px;
				font-weight: 400;
				color: #fff;
			}
			a.nav-inform-link {
				color: #fff;
				font-weight: 700;
			}
			.nav-submenu-inform-phone {
				margin-right: 15px;
			}
		}
		.nav-submenu {
			.nav-submenu__list {
				display: flex;
				.nav-submenu__item {
					margin-right: 10px;
					a {
						font-family: 'Nissan Brand';
						font-size: 12px;
						font-weight: 400;
						color: #fff;
					}
				}
				.nav-submenu__item:last-child {
					margin: 0;
				}
			}
		}
	}
	.main-menu {
		display: flex;
		justify-content: space-between;
		padding: 50px 80px;
		margin-bottom: 100px;
		.menu-inform {
			display: flex;
			.menu-inform-logo {
				margin-right: 40px;
				display: flex;
				align-items: center;
			}
			.menu-inform-title {
				font-family: 'Nissan Brand';
				font-size: 24px;
				font-weight: 300;
				line-height: 34px;
				color: #000;
				width: 50%;
			}
		}
		.menu-pages {
			position: relative;
			.menu-list {
				display: flex;
				.menu-item {
					margin-right: 15px;
					a {
						font-family: 'Nissan Brand';
						font-weight: 400;
						font-size: 16px;
						line-height: 14px;
						color: #000;
					}
					.submenu-list {
						position: absolute;
						top: 20%;
						left: 0;
						display: none;
						justify-content: space-between;
						background: #fff;
						padding: 16px;
						gap: 15px;
						width: fit-content;
						.submenu-item {
							list-style: none;
							a {
								font-family: 'Nissan Brand';
								font-size: 14px;
								font-weight: 300;
								line-height: 19px;
								text-align: left;
								color: #000;
								display: flex;
								justify-content: space-between;
							}
							a::after {
								content: '\203a';
								font-family: 'Courier New';
								font-size: 24px;
								margin-left: 10px;
							}
						}
					}
				}
				.menu-item:last-child {
					margin: 0;
				}
			}
		}
	}
	.design-menu {
		background: #EAEAEA;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px 0;
		.menu-list {
			display: flex;
			justify-content: center;
			gap: 40px;
			.menu-item {
				font-family: 'Nissan Brand';
				font-weight: 300;
				font-size: 14px;
				line-height: 24px;
				position: relative;
				a {
					color: #000;
				}
			}
			.active::before {
				content: '';
				position: absolute;
				top: 125%;
				left: 50%;
				transform:translate(-50%, 0); 
				width: 2em;
				height: 60%;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				background: #C3002F;
			}
			.active::after {
				content: '';
				position: absolute;
				top: 125%;
				left: 0;
				width: 100%;
				height: 100%;
				clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
				background: #C3002F;
			}
		}
	}
}

.main-section {
	height: 650px;
	padding-top: 300px;
	.car-info-wrap {
		padding: 50px 80px;
		display: flex;
		.car-info {
			padding: 20px;
			background: #FFFFFF80;
			backdrop-filter: blur(30px);
			display: flex;
			flex-direction: column;
			width: 30%;
			.car-info-title {
				font-family: 'Nissan Brand';
				font-weight: 400;
				font-size: 24px;
				line-height: 34px;
				color: #000;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			.car-info-subtitle {
				font-family: 'Nissan Brand';
				font-weight: 300;
				font-size: 16px;
				line-height: 26px;
				color: #000;
				margin-bottom: 40px;
				text-transform: uppercase;
			}
		}
	}
	.model-more-btn {
		margin-bottom: 10px;
		.more-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 15px;
			padding: 15px;
			width: fit-content;
			background: none;
			border-radius: 40px;
			font-family: 'Nissan Brand';
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			color: #000;
			text-transform: uppercase;
			border: 1px solid #000;
			transition-duration: 0.3s;
			span {
				svg {
					width: 100%;
					height: 100%;
					path {
						color: #000;
						transition-duration: 0.3s;
					}
				}
			}
		}
	}
	.model-more-btn:hover {
		.more-btn {
			border: 1px solid #666666;
			color: #666666;
			transition-duration: 0.3s;
			span {
				svg {
					width: 100%;
					height: 100%;
					path::before {
						transition-duration: 0.3s;
						color: "#666666";
					}
				}
			}
		}
	}
}
.main-section:nth-child(2n+1) {
	.car-info {
		background: none;
		backdrop-filter: none;
	}
	.model-more-btn {
		margin-bottom: 10px;
		.more-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 15px;
			padding: 15px;
			width: fit-content;
			background: none;
			border-radius: 40px;
			font-family: 'Nissan Brand';
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			border: 1px solid #fff;
			transition-duration: 0.3s;
			span {
				svg {
					width: 100%;
					height: 100%;
					path {
						color: #fff;
						transition-duration: 0.3s;
					}
				}
			}
		}
	}
	.model-more-btn:hover {
		.more-btn {
			border: 1px solid #000;
			color: #000;
			transition-duration: 0.3s;
			span {
				svg {
					width: 100%;
					height: 100%;
					path::before {
						transition-duration: 0.3s;
						color: #000;
					}
				}
			}
		}
	}
}

.section-model {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	.model-wrap {
		max-width: 75%;
		.section-title {
			margin-bottom: 60px;
			.title {
				font-family: 'Nissan Brand';
				font-weight: 400;
				font-size: 32px;
				line-height: 40px;
				letter-spacing: 2px;
			}
		}
		.model-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 60px;
			.model-item {
				.model-photo {
					width: 100%;
					margin-bottom: 20px;
					.photo {
						width: 100%;
					}
				}
				.model-title {
					margin-bottom: 5px;
					.title {
						font-family: 'Nissan Brand';
						font-weight: 400;
						font-size: 24px;
						line-height: 32px;
						letter-spacing: 2px;
						text-transform: uppercase;
					}
				}
				.model-subtitle {
					margin-bottom: 15px;
					.subtitle {
						font-family: 'Nissan Brand';
						font-weight: 700;
						font-size: 14px;
						line-height: 20px;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
				}
				.model-price-title {
					margin-bottom: 10px;
					.price-title {
						font-family: 'Nissan Brand';
						font-weight: 300;
						font-size: 12px;
						line-height: 16px;
						text-transform: uppercase;
					}
				}
				.model-price {
					margin-bottom: 20px;
					display: flex;
					justify-content: space-between;
					.price {
						font-family: 'Nissan Brand';
						font-weight: 400;
						font-size: 20px;
						line-height: 27px;
						letter-spacing: 1px;
					}
					.price-text {
						font-family: 'Nissan Brand';
						font-weight: 400;
						font-size: 12px;
						line-height: 18px;
						letter-spacing: 1px;
						text-decoration-line: underline;
						text-decoration-style: solid;
						text-transform: uppercase;
					}
				}
				
			}
		}
	}
}

.section-inform {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	.inform-wrap {
		width: 75%;
		.inform-list {
			margin-bottom: 100px;
			.inform-item {
				display: flex;
				margin-bottom: 60px;
				.inform-img {
					width: 50%;
					img {
						width: 100%;
					}
				}
				.inform-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: start;
					width: 50%;
					padding: 0 40px;
					.inform-title {
						font-family: 'Nissan Brand';
						font-weight: 400;
						font-size: 20px;
						line-height: 26px;
						letter-spacing: 2px;
						margin-bottom: 5px;
						text-transform: uppercase;
					}
					.inform-text {
						font-family: 'Nissan Brand';
						font-weight: 300;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: 1px;
						margin-bottom: 40px;
					}
					.inform-more {
						font-family: 'Nissan Brand';
						font-weight: 700;
						font-size: 16px;
						line-height: 22px;
						letter-spacing: 2px;
						padding-bottom: 6px;
						border-bottom: 2px solid #000;
						color: #000;
						text-transform: uppercase;
					}
				}
			}
			.inform-item:nth-child(even) {
				flex-direction: row-reverse;
			}
			.inform-item:last-child {
				margin: 0;
			}
		}
		.inform-description {
			font-family: 'Nissan Brand';
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
			text-align: justify;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0 100px;
	background: #000;
	.footer-wrap {
		width: 75%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 70px;
		.footer-col {
			display: flex;
			flex-direction: column;
			.footer-col__title {
				font-family: 'Nissan Brand';
				font-weight: 400;
				font-size: 15px;
				line-height: 24px;
				margin-bottom: 20px;
				color: #fff;
			}
			.footer-list {
				display: flex;
				flex-direction: column;
				gap: 8px;
				margin-bottom: 30px;
				.footer-item {
					font-family: 'Nissan Brand';
					font-weight: 300;
					font-size: 12px;
					line-height: 16px;
					color: #fff;
					a {
						color: #fff;
					}
				}
			}
			.footer-social {
				.footer-social__list {
					display: flex;
					.footer-social__item {
						width: 25%;
						img {
							width: 50%;
						}
					}
				}
			}
		}
	} 
}

/**********************DESIGN PAGE***********************/

.main-design-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	.main-wrap {
		width: 50%;
		.main-title {
			font-family: 'Nissan Brand';
			font-weight: 400;
			font-size: 64px;
			line-height: 88px;
			margin-bottom: 20px;
		}
		.main-description {
			font-family: 'Nissan Brand';
			font-weight: 300;
			font-size: 15px;
			line-height: 26px;
			letter-spacing: 1px;
			margin-bottom: 40px;
		}
	}
}

.slider-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	margin-bottom: 100px;
	.slider-wrap {
		width: 75%;
		overflow: hidden;
		display: flex;
		gap: 20px;
		height: 500px;
		padding-bottom: 30px;
		margin: 0 auto;
		.slider-list {
			width: 60%;
			height: 100% !important;
			.slick-list.draggable {
				height: 100% !important;
				.slick-track {
					height: 100%;
				}
			}
		}
		.slider-prev {
			width: 40%;
			height: 100% !important;
			opacity: 0.5;
			.slick-list.draggable {
				height: 100% !important;
				.slick-track {
					height: 100%;
				}
			}
		}
		.slide {
			height: 100% !important;
			.slide-img {
				width: 100% !important;
				height: 100% !important;
			}
		}
		.slick-prev::before, .slick-next::before {
			display: none;
		}
		.slick-next.slick-arrow {
			width: 100%;
		}
		.slick-prev.slick-arrow {
			width: 100%;
		}
		.slick-prev, .slick-next {
			top: 110%;
		}  
	}
	.slider-row {
		width: 75%;
		margin: 0 auto;
		display: flex;
		.slider-col {
			width: 50%;
			.slide-info {
				text-align: start;
				margin-top: 10px;
				.slider-current {
					display: flex;
					font-family: 'Nissan Brand';
					font-weight: 400;
					font-size: 25px;
					line-height: 34px;
					letter-spacing: 1px;
					margin-bottom: 20px;
				}
				.current-slide, .total-slides {
					color: #000;
				}
				.slide-text {
					font-family: 'Nissan Brand';
					font-weight: 300;
					font-size: 15px;
					line-height: 26px;
					letter-spacing: 1px;
					margin-bottom: 40px;
				}
			}
			.slider-dots {
				position: relative;
				.slick-dots {
					display: flex;
					gap: 90px;
					.slick-active {
						width: 100%;
						.dots-line {
							width: 100%;
							height: 2px;
							background-color: #000;
						}
					}
					li {
						width: 100%;
						.dots-line {
							width: 100%;
							height: 2px;
							background-color: #ACACAC;
						}
					}
				}
			}
			.slider-arrow {
				position: relative;
				.slick-prev {
					left: 80%;
				}
				.slick-next {
					right: 5%;
				}
			}
		}
	}
}

.inform-section {
	width: 75%;
	margin: 0 auto;
}
.inform-margin {
	margin-bottom: 80px;
}
.description-inform {
	font-family: 'Nissan Brand';
	font-weight: 300;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: 1px;
}
.head-inform {
	font-family: 'Nissan Brand';
	font-weight: 400;
	font-size: 42px;
	line-height: 48px;
	margin-bottom: 40px;
}
.head-inform-img {
	width: 100%;
}
.row-inform {
	display: flex;
	width: 100%;
	.col-inform {
		width: 50%;
		display: flex;
		align-items: center;
	}
	.col-center {
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 24px;
	}
}
.sub-title-inform {
	font-family: 'Nissan Brand';
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	padding: 75px 0;
}
.sub-title {
	font-family: 'Nissan Brand';
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
}
.row-revers {
	flex-direction: row-reverse;
}
.inform-wrap {
	width: 75%;
	margin: 0 auto;
}

.connect-section {
	.head-inform {
		margin-bottom: 40px;
	}
	img {
		width: 100%;
		margin-bottom: 80px;
	}
	.blog-list {
		width: 75%;
		margin: 0 auto 80px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		.blog-item {
			display: flex;
			flex-direction: column;
			align-items: start;
			.blog-img__wrap {
				margin-bottom: 20px;
				.blog-img {
					margin: 0;
				}
			}
			.blog-title {
				margin-bottom: 10px;
				font-family: 'Nissan Brand';
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
			}
			.blog-description {
				margin-bottom: 20px;
				font-family: 'Nissan Brand';
				font-weight: 300;
				font-size: 12px;
				line-height: 22px;
				letter-spacing: 1px;
				flex: 1 1 auto;
			}
		}
	}
}

.mobility-section {
	.head-inform {
		margin-bottom: 40px;
	}
	.blog-list {
		width: 75%;
		margin: 0 auto 80px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		.blog-item {
			display: flex;
			flex-direction: column;
			align-items: start;
			.blog-img__wrap {
				margin-bottom: 20px;
				width: 100%;
				.blog-img {
					margin: 0;
					width: 100%;
				}
			}
			.blog-title {
				margin-bottom: 10px;
				font-family: 'Nissan Brand';
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
			}
			.blog-description {
				margin-bottom: 20px;
				font-family: 'Nissan Brand';
				font-weight: 300;
				font-size: 12px;
				line-height: 22px;
				letter-spacing: 1px;
				flex: 1 1 auto;
			}
		}
	}
}

.personal-section {
	width: 75%;
	margin: 0 auto 80px;
	.head-inform {
		margin-bottom: 40px;
	}
}

.more-section {
	width: 75%;
	margin: 0 auto 80px;
	.more-title {
		font-family: 'Nissan Brand';
		font-weight: 300;
		font-size: 54px;
		line-height: 50px;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	.more-btn-groupe {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	}
	.description-inform {
		text-align: justify;
	}
}

// Mobile main page

// Hello World

@media (max-width: 767px) {
	// tmp
	header {
		display: none;
	}

	.main-section__second {
		.more-btn {
			color: #000 !important;
			border: 1px solid #000 !important;	
			svg {
				color: #000 !important;
			}	
		}
	}

	.main-section {			
		background: none !important;
		padding: 0;		
		width: 100%;
		#main-section-first__img {
			background: url('/assets/img/qashqai1.png') 0 0 / 100% 100% no-repeat;
		}
		#main-section-second__img {
			background: url('/assets/img/qashqai2.png') 0 0 / 100% 100% no-repeat;
		}
		.car-info-mobile__image {
			display: block;
			width: 100%;
			height: 300px;
			background: url('/assets/img/juke.png') 0 0 / 100% 100% no-repeat;
		}
		.car-info-wrap {
			width: 100%;	
			padding: 0;									
			.car-info {		
				width: 100%;		
				background: none;
				backdrop-filter: none;										
			}
		}		
	}

	.section-model {
		width: 100%;
		padding: 0;
		margin-bottom: 15%;
		justify-content: center;
		.model-wrap {
			max-width: 90%;
			.section-title  {
				.title {
					font-size: 32px;	
					text-align: center;				
				}
			}
			.model-list {
				display: flex;
				flex-direction: column;
				.model-item {
					.model-price {
						display: flex;
						flex-direction: column;	
						.price {
							color: #C3002F;
						}
						.price-text {
							margin-top: 5%;
						}					
					}
				}
			}
		}
	}

	.section-inform {
		width: 100%;
		padding: 0;		
		margin-bottom: 15%;
		.inform-wrap {
			max-width: 90%;
			width: 100%;
			.inform-list {
				margin-bottom: 15%;
				.inform-item, .inform-item:nth-child(even) {
					flex-direction: column;
					.inform-img {
						order: 1;	
						width: 100%;					
					}
					.inform-content {
						order: 2;
						width: 100%;
						padding: 0;
						margin-top: 5%;
						.inform-text {
							font-size: 14px;
							margin-bottom: 5%;							
						}
						.inform-title {
							font-size: 20px;
							line-height: 26px;
							font-weight: 400px;
						}
					}
				}
			}
		}
	}

	.footer {
		width: 100%;
		padding: 0;
		.footer-wrap {
			max-width: 100%;
			width: 100%;
			padding-top: 5%;
			display: flex;
			flex-direction: column;	
			gap: 0;					
			.footer-col {
				position: relative;
				border-bottom: 1px solid #fff;								
				align-items: start;
				padding: 0 5%;	
				margin-bottom: 5%;
				.footer-col__title {
					text-transform: uppercase;
					font-size: 16px;
				}			
				.footer-list {
					display: none;
					.footer-item {
						margin-bottom: 10%;
						font-size: 14px;
						&:last-child {
							margin-bottom: 0;
						}
					}										
				}
				.footer-col__icon {
					display: block;
					position: absolute;
					top: 5px;
					right: 3%;
					transform: rotate(180deg);
					transition: .5s;
				}
			}
			.footer-col:last-child {
				margin-top: 10%;
				border: none;
				.footer-list {
					display: block;
					.footer-item:first-child {
						display: flex;
						flex-direction: column;
					}
					.footer-item:last-child {
						display: none;
					}
				}
				.footer-social {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}
