@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer-col__icon, .car-info-mobile__image {
  display: none;
}

.model-more-btn .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
  background: none;
  border-radius: 40px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  transition-duration: 0.3s;
}
.model-more-btn .more-btn span svg {
  width: 100%;
  height: 100%;
}
.model-more-btn .more-btn span svg path {
  transition-duration: 0.3s;
}

.model-more-btn:hover .more-btn {
  border: 1px solid #666666;
  color: #666666;
  transition-duration: 0.3s;
}
.model-more-btn:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.model-more-btn:hover .more-btn span svg path::before {
  transition-duration: 0.3s;
  color: #666666;
}

.model-more-btn-price .more-btn {
  display: block;
  padding: 15px;
  width: 100%;
  background: #000;
  border-radius: 40px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.model-more-btn-price:hover .more-btn {
  background: none;
  color: #000;
  transition-duration: 0.3s;
}

.active {
  display: flex !important;
  flex-direction: column !important;
}

/**********************HOME PAGE***********************/
.home .header-main .main-menu .menu-inform .menu-inform-title {
  color: #fff;
  font-size: 34px;
  line-height: 54px;
}
.home .header-main .main-menu .menu-pages .menu-list .menu-item a {
  color: #fff;
}

.header-main {
  width: 100%;
  margin-bottom: 100px;
}
.header-main .nav-submenu__wrap {
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  background: #000;
}
.header-main .nav-submenu__wrap .nav-submenu-inform {
  display: flex;
}
.header-main .nav-submenu__wrap .nav-submenu-inform .nav-submenu-text {
  font-family: "Nissan Brand";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.header-main .nav-submenu__wrap .nav-submenu-inform a.nav-inform-link {
  color: #fff;
  font-weight: 700;
}
.header-main .nav-submenu__wrap .nav-submenu-inform .nav-submenu-inform-phone {
  margin-right: 15px;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list {
  display: flex;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list .nav-submenu__item {
  margin-right: 10px;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list .nav-submenu__item a {
  font-family: "Nissan Brand";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list .nav-submenu__item:last-child {
  margin: 0;
}
.header-main .main-menu {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 100px;
}
.header-main .main-menu .menu-inform {
  display: flex;
}
.header-main .main-menu .menu-inform .menu-inform-logo {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.header-main .main-menu .menu-inform .menu-inform-title {
  font-family: "Nissan Brand";
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  color: #000;
  width: 50%;
}
.header-main .main-menu .menu-pages {
  position: relative;
}
.header-main .main-menu .menu-pages .menu-list {
  display: flex;
}
.header-main .main-menu .menu-pages .menu-list .menu-item {
  margin-right: 15px;
}
.header-main .main-menu .menu-pages .menu-list .menu-item a {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #000;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list {
  position: absolute;
  top: 20%;
  left: 0;
  display: none;
  justify-content: space-between;
  background: #fff;
  padding: 16px;
  gap: 15px;
  width: fit-content;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list .submenu-item {
  list-style: none;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list .submenu-item a {
  font-family: "Nissan Brand";
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list .submenu-item a::after {
  content: "›";
  font-family: "Courier New";
  font-size: 24px;
  margin-left: 10px;
}
.header-main .main-menu .menu-pages .menu-list .menu-item:last-child {
  margin: 0;
}
.header-main .design-menu {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}
.header-main .design-menu .menu-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.header-main .design-menu .menu-list .menu-item {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.header-main .design-menu .menu-list .menu-item a {
  color: #000;
}
.header-main .design-menu .menu-list .active::before {
  content: "";
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2em;
  height: 60%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #C3002F;
}
.header-main .design-menu .menu-list .active::after {
  content: "";
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
  background: #C3002F;
}

.main-section {
  height: 650px;
  padding-top: 300px;
}
.main-section .car-info-wrap {
  padding: 50px 80px;
  display: flex;
}
.main-section .car-info-wrap .car-info {
  padding: 20px;
  background: rgba(255, 255, 255, 0.5019607843);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  width: 30%;
}
.main-section .car-info-wrap .car-info .car-info-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.main-section .car-info-wrap .car-info .car-info-subtitle {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.main-section .model-more-btn {
  margin-bottom: 10px;
  width: fit-content;
}
.main-section .model-more-btn .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: fit-content;
  background: none;
  border-radius: 40px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  transition-duration: 0.3s;
}
.main-section .model-more-btn .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section .model-more-btn .more-btn span svg path {
  color: #000;
  transition-duration: 0.3s;
}
.main-section .model-more-btn:hover .more-btn {
  border: 1px solid #666666;
  color: #666666;
  transition-duration: 0.3s;
}
.main-section .model-more-btn:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section .model-more-btn:hover .more-btn span svg path {
  transition-duration: 0.3s;
  color: #666666;
}

.main-section:nth-child(2n+1) .car-info {
  background: none;
  backdrop-filter: none;
}
.main-section:nth-child(2n+1) .model-more-btn {
  margin-bottom: 10px;
}
.main-section:nth-child(2n+1) .model-more-btn .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: fit-content;
  background: none;
  border-radius: 40px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  transition-duration: 0.3s;
}
.main-section:nth-child(2n+1) .model-more-btn .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section:nth-child(2n+1) .model-more-btn .more-btn span svg path {
  color: #fff;
  transition-duration: 0.3s;
}
.main-section:nth-child(2n+1) .model-more-btn:hover .more-btn {
  border: 1px solid #000;
  color: #000;
  transition-duration: 0.3s;
}
.main-section:nth-child(2n+1) .model-more-btn:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section:nth-child(2n+1) .model-more-btn:hover .more-btn span svg path {
  transition-duration: 0.3s;
  color: #000 !important;
}

.section-model {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.section-model .model-wrap {
  max-width: 75%;
}
.section-model .model-wrap .section-title {
  margin-bottom: 60px;
}
.section-model .model-wrap .section-title .title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2px;
}
.section-model .model-wrap .model-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.section-model .model-wrap .model-list .model-item .model-photo {
  width: 100%;
  margin-bottom: 20px;
}
.section-model .model-wrap .model-list .model-item .model-photo .photo {
  width: 100%;
}
.section-model .model-wrap .model-list .model-item .model-title {
  margin-bottom: 5px;
}
.section-model .model-wrap .model-list .model-item .model-title .title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-model .model-wrap .model-list .model-item .model-subtitle {
  margin-bottom: 15px;
}
.section-model .model-wrap .model-list .model-item .model-subtitle .subtitle {
  font-family: "Nissan Brand";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-model .model-wrap .model-list .model-item .model-price-title {
  margin-bottom: 10px;
}
.section-model .model-wrap .model-list .model-item .model-price-title .price-title {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.section-model .model-wrap .model-list .model-item .model-price {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.section-model .model-wrap .model-list .model-item .model-price .price {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1px;
}
.section-model .model-wrap .model-list .model-item .model-price .price-text {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.section-inform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.section-inform .inform-wrap {
  width: 75%;
}
.section-inform .inform-wrap .inform-list {
  margin-bottom: 100px;
}
.section-inform .inform-wrap .inform-list .inform-item {
  display: flex;
  margin-bottom: 60px;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-img {
  width: 50%;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-img img {
  width: 100%;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  padding: 0 40px;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-text {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-more {
  font-family: "Nissan Brand";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  padding-bottom: 6px;
  border-bottom: 2px solid #000;
  color: #000;
  text-transform: uppercase;
}
.section-inform .inform-wrap .inform-list .inform-item:nth-child(even) {
  flex-direction: row-reverse;
}
.section-inform .inform-wrap .inform-list .inform-item:last-child {
  margin: 0;
}
.section-inform .inform-wrap .inform-description {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 100px;
  background: #000;
}
.footer .footer-wrap {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
}
.footer .footer-wrap .footer-col {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrap .footer-col .footer-col__title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.footer .footer-wrap .footer-col .footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}
.footer .footer-wrap .footer-col .footer-list .footer-item {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.footer .footer-wrap .footer-col .footer-list .footer-item a {
  color: #fff;
}
.footer .footer-wrap .footer-col .footer-social .footer-social__list {
  display: flex;
}
.footer .footer-wrap .footer-col .footer-social .footer-social__list .footer-social__item {
  width: 25%;
}
.footer .footer-wrap .footer-col .footer-social .footer-social__list .footer-social__item img {
  width: 50%;
}

/**********************DESIGN PAGE***********************/
.main-design-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.main-design-section .main-wrap {
  width: 50%;
}
.main-design-section .main-wrap .main-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 64px;
  line-height: 88px;
  margin-bottom: 20px;
}
.main-design-section .main-wrap .main-description {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.slider-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 100px;
}
.slider-section .slider-wrap {
  width: 75%;
  overflow: hidden;
  display: flex;
  gap: 20px;
  height: 500px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.slider-section .slider-wrap .slider-list {
  width: 60%;
  height: 100% !important;
}
.slider-section .slider-wrap .slider-list .slick-list.draggable {
  height: 100% !important;
}
.slider-section .slider-wrap .slider-list .slick-list.draggable .slick-track {
  height: 100%;
}
.slider-section .slider-wrap .slider-prev {
  width: 40%;
  height: 100% !important;
  opacity: 0.5;
}
.slider-section .slider-wrap .slider-prev .slick-list.draggable {
  height: 100% !important;
}
.slider-section .slider-wrap .slider-prev .slick-list.draggable .slick-track {
  height: 100%;
}
.slider-section .slider-wrap .slide {
  height: 100% !important;
}
.slider-section .slider-wrap .slide .slide-img {
  width: 100% !important;
  height: 100% !important;
}
.slider-section .slider-wrap .slick-prev::before, .slider-section .slider-wrap .slick-next::before {
  display: none;
}
.slider-section .slider-wrap .slick-next.slick-arrow {
  width: 100%;
}
.slider-section .slider-wrap .slick-prev.slick-arrow {
  width: 100%;
}
.slider-section .slider-wrap .slick-prev, .slider-section .slider-wrap .slick-next {
  top: 110%;
}
.slider-section .slider-row {
  width: 75%;
  margin: 0 auto;
  display: flex;
}
.slider-section .slider-row .slider-col {
  width: 50%;
}
.slider-section .slider-row .slider-col .slide-info {
  text-align: start;
  margin-top: 10px;
}
.slider-section .slider-row .slider-col .slide-info .slider-current {
  display: flex;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.slider-section .slider-row .slider-col .slide-info .current-slide, .slider-section .slider-row .slider-col .slide-info .total-slides {
  color: #000;
}
.slider-section .slider-row .slider-col .slide-info .slide-text {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.slider-section .slider-row .slider-col .slider-dots {
  position: relative;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots {
  display: flex;
  gap: 90px;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots .slick-active {
  width: 100%;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots .slick-active .dots-line {
  width: 100%;
  height: 2px;
  background-color: #000;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots li {
  width: 100%;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots li .dots-line {
  width: 100%;
  height: 2px;
  background-color: #ACACAC;
}
.slider-section .slider-row .slider-col .slider-arrow {
  position: relative;
}
.slider-section .slider-row .slider-col .slider-arrow .slick-prev {
  left: 80%;
}
.slider-section .slider-row .slider-col .slider-arrow .slick-next {
  right: 5%;
}

.inform-section {
  width: 75%;
  margin: 0 auto;
}

.inform-margin {
  margin-bottom: 80px;
}

.description-inform {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
}

.head-inform {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 40px;
}

.head-inform-img {
  width: 100%;
}

.row-inform {
  display: flex;
  width: 100%;
}
.row-inform .col-inform {
  width: 50%;
  display: flex;
  align-items: center;
}
.row-inform .col-center {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.sub-title-inform {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  padding: 75px 0;
}

.sub-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}

.row-revers {
  flex-direction: row-reverse;
}

.inform-wrap {
  width: 75%;
  margin: 0 auto;
}

.connect-section .head-inform {
  margin-bottom: 40px;
}
.connect-section img {
  width: 100%;
  margin-bottom: 80px;
}
.connect-section .blog-list {
  width: 75%;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.connect-section .blog-list .blog-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.connect-section .blog-list .blog-item .blog-img__wrap {
  margin-bottom: 20px;
}
.connect-section .blog-list .blog-item .blog-img__wrap .blog-img {
  margin: 0;
}
.connect-section .blog-list .blog-item .blog-title {
  margin-bottom: 10px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.connect-section .blog-list .blog-item .blog-description {
  margin-bottom: 20px;
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  flex: 1 1 auto;
}

.mobility-section .head-inform {
  margin-bottom: 40px;
}
.mobility-section .blog-list {
  width: 75%;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.mobility-section .blog-list .blog-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.mobility-section .blog-list .blog-item .blog-img__wrap {
  margin-bottom: 20px;
  width: 100%;
}
.mobility-section .blog-list .blog-item .blog-img__wrap .blog-img {
  margin: 0;
  width: 100%;
}
.mobility-section .blog-list .blog-item .blog-title {
  margin-bottom: 10px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.mobility-section .blog-list .blog-item .blog-description {
  margin-bottom: 20px;
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  flex: 1 1 auto;
}

.personal-section {
  width: 75%;
  margin: 0 auto 80px;
}
.personal-section .head-inform {
  margin-bottom: 40px;
}

.more-section {
  width: 75%;
  margin: 0 auto 80px;
}
.more-section .more-title {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.more-section .more-btn-groupe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.more-section .description-inform {
  text-align: justify;
}

@media (max-width: 767px) {
  header {
    display: none;
  }
  .main-section__second .more-btn {
    color: #000 !important;
    border: 1px solid #000 !important;
  }
  .main-section__second .more-btn svg {
    color: #000 !important;
  }
  .main-section {
    background: none !important;
    padding: 0;
    width: 100%;
  }
  .main-section #main-section-first__img {
    background: url("/assets/img/qashqai1.png") 0 0/100% 100% no-repeat;
  }
  .main-section #main-section-second__img {
    background: url("/assets/img/qashqai2.png") 0 0/100% 100% no-repeat;
  }
  .main-section .car-info-mobile__image {
    display: block;
    width: 100%;
    height: 300px;
    background: url("/assets/img/juke.png") 0 0/100% 100% no-repeat;
  }
  .main-section .car-info-wrap {
    width: 100%;
    padding: 0;
  }
  .main-section .car-info-wrap .car-info {
    width: 100%;
    background: none;
    backdrop-filter: none;
  }
  .section-model {
    width: 100%;
    padding: 0;
    margin-bottom: 15%;
    justify-content: center;
  }
  .section-model .model-wrap {
    max-width: 90%;
  }
  .section-model .model-wrap .section-title .title {
    font-size: 32px;
    text-align: center;
  }
  .section-model .model-wrap .model-list {
    display: flex;
    flex-direction: column;
  }
  .section-model .model-wrap .model-list .model-item .model-price {
    display: flex;
    flex-direction: column;
  }
  .section-model .model-wrap .model-list .model-item .model-price .price {
    color: #C3002F;
  }
  .section-model .model-wrap .model-list .model-item .model-price .price-text {
    margin-top: 5%;
  }
  .section-inform {
    width: 100%;
    padding: 0;
    margin-bottom: 15%;
  }
  .section-inform .inform-wrap {
    max-width: 90%;
    width: 100%;
  }
  .section-inform .inform-wrap .inform-list {
    margin-bottom: 15%;
  }
  .section-inform .inform-wrap .inform-list .inform-item, .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) {
    flex-direction: column;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-img, .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-img {
    order: 1;
    width: 100%;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-content, .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-content {
    order: 2;
    width: 100%;
    padding: 0;
    margin-top: 5%;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-text, .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-content .inform-text {
    font-size: 14px;
    margin-bottom: 5%;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-title, .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-content .inform-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400px;
  }
  .footer {
    width: 100%;
    padding: 0;
  }
  .footer .footer-wrap {
    max-width: 100%;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .footer .footer-wrap .footer-col {
    position: relative;
    border-bottom: 1px solid #fff;
    align-items: start;
    padding: 0 5%;
    margin-bottom: 5%;
  }
  .footer .footer-wrap .footer-col .footer-col__title {
    text-transform: uppercase;
    font-size: 16px;
  }
  .footer .footer-wrap .footer-col .footer-list {
    display: none;
  }
  .footer .footer-wrap .footer-col .footer-list .footer-item {
    margin-bottom: 10%;
    font-size: 14px;
  }
  .footer .footer-wrap .footer-col .footer-list .footer-item:last-child {
    margin-bottom: 0;
  }
  .footer .footer-wrap .footer-col .footer-col__icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 3%;
    transform: rotate(180deg);
    transition: 0.5s;
  }
  .footer .footer-wrap .footer-col:last-child {
    margin-top: 10%;
    border: none;
  }
  .footer .footer-wrap .footer-col:last-child .footer-list {
    display: block;
  }
  .footer .footer-wrap .footer-col:last-child .footer-list .footer-item:first-child {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-wrap .footer-col:last-child .footer-list .footer-item:last-child {
    display: none;
  }
  .footer .footer-wrap .footer-col:last-child .footer-social {
    width: 100%;
    text-align: center;
  }
}